
<h1> Article</h1>
<h2>Titular del restaurante</h2>
<br>
<p>Aquí un mapa</p>
<p>Aquí una description</p>

{{!-- 
{{#each article}}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{Opinion}}</h5>
    <p class="card-text">Some quick example text to build on the card title and
      make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Look more</a>
  </div>
</div>

{{/eache}} --}}