 
 
  <section id="homeBody";>
 
   <div id="homeDiv">
     Let's go back to the basics, <i>BuenoBonitoBarato</i> is a spanish expression that means
    "Good, beautiful and cheap". This has inspired this
     community to create a space to share 
  great places to eat. 
  
   </div>   



  </section>
