<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>
<hr>

<a href="/user/posts">Find restaurant reviews here</a>

<br>
<hr>

<h3>Join us</h3>
<p>Create an account and join us to post your own restaurant reviews!</p>
<a href="/user/register">Click here to register</a>

<br>
<hr>

<h3>Already have an account?</h3>
<p>Signup to be able to comment and rate other people's reviews</p>
<a href="/user/login">Click here to login</a>
