<h1>{{title}}</h1>
 
    <section id="homeBody";>

     <div id="homeDiv" style="font-size: 2.5vw;">
     Let's go back to the basics, <i>BuenoBonitoBarato</i> is a spanish expression that means
      "Good, beautiful and cheap". This has inspired this
       community to create a space to share 
    great places to eat. 
    
     </div>   



    </section>



