{{#each User}}

<div class="imgUser" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{name}}</p>
    <a href="">Take a look</a>
  </div>
</div>

{{/eache}}