<h2>Posts</h2>
<div class="wrappedarticles">
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
        <a href="/user/article">Read more</a>
    </article>
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </article>
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </article>
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </article>
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </article>
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </article>
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </article>
    <article class="postarticle">
        <img src="/images/catImage.jpeg" class="smallimage">
        <p>Lorem ipusm</p>
        <br>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </article>
</div>
<a href="/user">Back to home</a>
